$navbar-default-bg: #004d99;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: large;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover {
  color:  #b3ffff;
  text-decoration: none;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('fence1.jpg');
  background-size: cover;
  height: auto;
}

.jumbotron h1 {
  color: #0c263f;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #0c263f;
  position: relative;
  bottom:0;
}

footer a:hover {
  color: #336699;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}
